@font-face {
  font-family: 'ITC Avant Garde Gothic Std Extra Light';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Extra Light'), url('./ITCAvantGardeStdXLt.otf') format('otf');
  }
  
  
  @font-face {
  font-family: 'ITC Avant Garde Gothic Std Extra Light Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Extra Light Condensed'), url('./ITCAvantGardeStdXLtCn.otf') format('otf');
  }
  
  
  @font-face {
  font-family: 'ITC Avant Garde Gothic Std Extra Light Condensed Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Extra Light Condensed Oblique'), url('./ITCAvantGardeStdXLtCnObl.otf') format('otf');
  }
  
  
  @font-face {
  font-family: 'ITC Avant Garde Gothic Std Extra Light Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Extra Light Oblique'), url('./ITCAvantGardeStdXLtObl.otf') format('otf');
  }
  
  
  @font-face {
  font-family: 'ITC Avant Garde Gothic Std Book';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Book'), url('./ITCAvantGardeStdBk.otf') format('otf');
  }
  
  
  @font-face {
  font-family: 'ITC Avant Garde Gothic Std Book Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Book Condensed'), url('./ITCAvantGardeStdBkCn.otf') format('otf');
  }
  
  
  @font-face {
  font-family: 'ITC Avant Garde Gothic Std Book Condensed Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Book Condensed Oblique'), url('./ITCAvantGardeStdBkCnObl.otf') format('otf');
  }
  
  
  @font-face {
  font-family: 'ITC Avant Garde Gothic Std Book Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Book Oblique'), url('./ITCAvantGardeStdBkObl.otf') format('otf');
  }
  
  
  @font-face {
  font-family: 'ITC Avant Garde Gothic Std Medium';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Medium'), url('./ITCAvantGardeStdMd.otf') format('otf');
  }
  
  
  @font-face {
  font-family: 'ITC Avant Garde Gothic Std Medium Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Medium Condensed'), url('./ITCAvantGardeStdMdCn.otf') format('otf');
  }
  
  
  @font-face {
  font-family: 'ITC Avant Garde Gothic Std Medium Condensed Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Medium Condensed Oblique'), url('./ITCAvantGardeStdMdCnObl.otf') format('otf');
  }
  
  
  @font-face {
  font-family: 'ITC Avant Garde Gothic Std Medium Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Medium Oblique'), url('./ITCAvantGardeStdMdObl.otf') format('otf');
  }
  
  
  @font-face {
  font-family: 'ITC Avant Garde Gothic Std Demi';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Demi'), url('./ITCAvantGardeStdDemi.otf') format('otf');
  }
  
  
  @font-face {
  font-family: 'ITC Avant Garde Gothic Std Demi Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Demi Condensed'), url('./ITCAvantGardeStdDemiCn.otf') format('otf');
  }
  
  
  @font-face {
  font-family: 'ITC Avant Garde Gothic Std Demi Condensed Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Demi Condensed Oblique'), url('./ITCAvantGardeStdDemiCnObl.otf') format('otf');
  }
  
  
  @font-face {
  font-family: 'ITC Avant Garde Gothic Std Demi Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Demi Oblique'), url('./ITCAvantGardeStdDemiObl.otf') format('otf');
  }
  
  
  @font-face {
  font-family: 'ITC Avant Garde Gothic Std Bold';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Bold'), url('./ITCAvantGardeStdBold.otf') format('otf');
  }
  
  
  @font-face {
  font-family: 'ITC Avant Garde Gothic Std Bold Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Bold Condensed'), url('./ITCAvantGardeStdBoldCn.otf') format('otf');
  }
  
  
  @font-face {
  font-family: 'ITC Avant Garde Gothic Std Bold Condensed Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Bold Condensed Oblique'), url('./ITCAvantGardeStdBoldCnObl.otf') format('otf');
  }
  
  
  @font-face {
  font-family: 'ITC Avant Garde Gothic Std Bold Oblique';
  font-style: normal;
  font-weight: normal;
  src: local('ITC Avant Garde Gothic Std Bold Oblique'), url('./ITCAvantGardeStdBoldObl.otf') format('otf');
  }